* {margin: 0; padding: 0;}

body {
    font-family: "Heebo" , sans-serif;
}

ul, li {
    list-style: none;
}

header {
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.leftSection {
    display: flex;
    align-items: center;
}


.logoSection .logoImg {
    margin-left: 20px;
    margin-right: 20px;
}

.menuSection {
    display: flex;
    align-items: center;
}

.menuSection ul {
    display: flex;
}

.menuSection li {
    font-size: 16px;
    color: #596266;
    width: 98.8px;
    height: 69px;
    line-height: 69px;
    text-align: center;
}

.menuSection li:hover {
    color: #34993f;
    cursor: pointer;
    border-bottom: 2px solid #34993f;
}

.rightSection {
    display: flex;
}

.rightSection ul {
    display: flex;
}

.login {
    font-size: 16px;
    color: #596266;
}

.down {
    padding-left: 10px;
    padding-right: 10px;
}

.contact {
    font-size: 16px;
    font-weight: 700;
    color: #34993f;
    margin-left: 30px;
    margin-right: 25px;
}

.hamburgerMenu {
    margin-right: 25px;
    display: none;
}

.login:hover{
    color: #000000;
    cursor: pointer;
}
.contact:hover {
    color: #4caf50;
    cursor: pointer;
}

@media all and (max-width:992px){
    .hamburgerMenu {
        display: block;
    }
    .menuSection {
        display: none;
    }
}

@media all and (max-width: 480px){
    .login {
        display: none;
    }
    .contact {
        display: none;
    }
}