* {margin: 0px; padding: 0px;}
ul , li {
    list-style: none;
}

header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.logoSection {
    margin-top: 35px;
}

.menuSection ul {
    margin-top: 50px;
    display: flex;
    border-right: 1px solid lightgray;
}

.menuSection li {
    margin-right: 50px;
    font-size: 20px;
}

.menuSection li:hover {
    font-weight: bold;
}
.accountSection ul {
    display: flex;
}

.accountSection li {
    margin-left: 50px;
    font-size: 20px;
}

.signUp {
    margin-top: 40px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f47825;
    color: white;
}

.myAccount {
    margin-top: 50px;
    color: #1f6099;
}


@media all and (max-width:1240px){
    #menuSection , #accountSection {
        display: none;
    }
}
