* {margin: 0px; padding: 0px;}
ul, li {
    list-style: none;
}

body {
    background: rgb(56, 56, 56);
}
header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.logoSection {
    display: flex;
    font-size: 30px;
    color : white;
    margin-top: 35px;
    font-weight: bold;
}

.menuSection ul {
    display: flex;
    font-size: 15px;
    color: white;
    margin-top: 40px;
    
}

.menuSection li {
    margin-right: 50px;
}

.menuSection li:hover {
    cursor: pointer;
    color: pink;
}

@media all and (max-width:1000px){
    #menuSection ul {
        display: none;
    }
}